{% extends '../layouts/default.html' %} {% block content %}
<p>Dear {{tutor.name}},</p>
<br />
<p>
  Thank you very much for registering with our new tutoring website, My Tutoring.World.
</p>
<br />
<p>  
  My Tutoring World is designed for you to be a one-stop shop for you to take classes and for you to be paid directly into your home country bank account.
</p>
<br />
<p>  
  This email is to help you with your onboarding process.
</p>
<br />
<p>  
  We will always use the latest and best technologies to serve you and your students in the most professional way. For this reason, we use Zoom as your video portal provider and Stripe, the international payment gateway, for all payments. 
</p>
<br />
<p>  
  To make this possible, the application process has several steps. Remember, you don't need to undertake all steps at once - but you will need to complete all steps before you can take classes. 
</p>

<h2><b><u>Step 1</u></b></h2>
<p>  
  Please check your email. There will be an email from Zoom.
</p>
<p>
  You will need to activate a Zoom account with us to proceed further, as all our lessons use the Zoom software.
</p>
<p>
  <strong><u>IMPORTANT NOTE: You will need a UNIQUE Zoom account just for My Tutoring.World</u></strong>
  This is a Zoom requirement, as our portal needs to generate all the lesson appointments to you. This is easy for you to organise. You need to have another Zoom account with a <strong><u>different email ID.</u></u></strong>
</p>
<h2><b><u>Step 2</u></b></h2>
<p>  
  Verify your account with My Tutoring World: To do this you must freshly log back into our account sign-in page (so that we know that no-one is trying to falsely log into your My Tutoring.World account). 
</p>
<h2><b><u>Step 3</u></b></h2>
<p>  
  Update your profile settings.
</p>
<p>  
  It is VERY important that your profile photograph, the subjects you will be tutoring, as well as your qualifications and updated resume information are all included, as this is what a student sees in order to choose you.
</p>
<p>  
  It is very important that your biography information covers:
  <br />
  <ul style="list-style-type: none;">
    <li>-  Your teaching style</li>
    <li>-	 Your experience</li>
    <li>-  Your formal qualifications</li>
    <li>-  Your photograph image</li>
    <li>-	 Other qualities you believe make you a high-quality tutor in your subject.</li>
  </ul>
</p>
<h2><b><u>Step 4</u></b></h2>
<p>  
  You then click onto <q>Creating 1-on-1 Class</q> or <q>Group Class</q>.
  <br />
  When you click this, you will be prompted with a message <q>Please update your Stripe details to start creating classes</q>.
</p>
<h2><b><u>Step 5</u></b></h2>
<p>
  All our payment processing is done through Stripe, the international payment gateway.
  <br />
  <br />
  Go to your Stripe settings inside your profile and complete the Stripe formalities and link to your account. 
  <br />
  You will need to include all the information they require.
  <br />
  <br />
  (Please note: Not every country is <q>supported</q> by Stripe, as they do not have agreements with every country's government. In the case where your country is not <q>supported</q> by Stripe, you will need to provide banking information for a country that is supported by Stripe, as this is how they send their payments through).
  <br />
  <br />
  Only after getting your account linked with Stripe will you be able to start taking lessons. Once you have provided all the information that Stripe requires, approval by them generally takes approximately 10 minutes. 
  <br />
  <br />
  You will then see under the <q>Payment Connect</q> tab, the following all marked <q>Completed</q> in green: 
  <ul style="list-style-type: none;">
    <li>-  Change enable </li>
    <li>-	 Details submitted</li>
    <li>-  Payout enable. </li>
  </ul>
  If this is not the case after 10 minutes, then you need to return to Stripe to submit more information. 
</p>
<h2><b><u>Step 6</u></b></h2>
<p>
  You will now be able to take classes. To do this, you will firstly need to upload the class types you intend to teach.
  <br /><br />
  There are broad fields of study - these are <q>Categories</q>. Within Categories there are <q>Subjects</q> and within Subjects there are <q>Topics</q>. 
  <br /><br />
  You must choose your <q>Categories</q> first, then <q>Subjects</q> and lastly your <q>Topics</q>. 
  <br /><br />
  a.	Firstly, choose Category/Categories from the pull-down menu<br />
  b.	Only after that, choose the Subject/Subjects within each Category from the pull-down menu<br />
  c.	Finally choose the Topic/Topics within each Subject from the pull-down menu.<br /><br />
  Then you need to fill out your available times. In this instance you can choose 1-hour slots for paid classes and 30 minute slots for free trial lessons with students. 
</p>
<h2><b><u>Step 7</u></b></h2>
Withdrawing your earnings!
<br /><br />
After each class your earnings will be calculated. Your earnings will be deposited into your Stripe holding account, ready for you to notify us for withdrawals!

{% endblock %}
