{% extends '../layouts/default.html' %} {% block content %}
<p>Hello {{user.name}},</p>
<br />
<p>Your compensation request #{{refundRequest.code}} has been rejected by the admin.</p>
<p>Reason: {{refundRequest.rejectReason}}</p>
<br />
<p>
  <strong>Code</strong>: {{refundRequest.code}} <br />
  <strong>Amount</strong>: {{appConfig.currencySymbol}}{{refundRequest.amount}} <br />
</p>

<p><strong>Reason: </strong> {{refundRequest.rejectReason}}</p>
<p><strong>Note: </strong> {{refundRequest.note}}</p>

{% endblock %}
