{% extends '../layouts/default.html' %}

{% block content %}

<div class="container">
  {% if (openForm) %}
  <form method="post">
    <div class="row">
      <div class="col col-md-4 offset-md-4">
        <p></p>
        <p></p>
        <div class="form-group">
          <label>Change your password</label>

          <div class="input-group mb-3">
            <input type="password" name="password" min="6" class="form-control" placeholder="Enter your new password" required />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">Change</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  {% else %}
  <p class="alert alert-success text-center">
    Your password has been updated.
  </p>
  {% endif %}
</div>

{% endblock %}