{% extends '../layouts/default.html' %} {% block content %}

<div class="container">
  {% if (!verified) %}
  <p class="alert alert-danger text-center">Sorry, the link is invalid! Will redirect in <span id="second">5s</span></p>
  {% else %}
  <p class="alert alert-success text-center">
    Your account has been verified. Will redirect in <span id="second">5s</span>
  </p>
  {% endif %}
  <script>
    var second = 5;
    setInterval(function () {
      if (second > 0) {
        second = second - 1;
        return (document.getElementById('second').innerHTML = '' + second + 's');
      } else {
        window.location.href = document.getElementById('url-login').textContent;
        clearInterval();
      }
    }, 1000);
  </script>
</div>
{% endblock %}
